<!doctype html>
{% load static %}
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>O'Games</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/listjeu.css' %}">
        {% block style %}

        {% endblock %}
    </head>
    <style>
    
    
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <body>  
            <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
                <a class="navbar-brand" href="/">O'Games</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
              
                    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="/">Liste Jeux <span class="sr-only">(current)</span></a>
                        </li>
                      </ul>
                    </div>
                  </nav>
              
        <main role="main" class="">
              
            {% block content %}

            {% endblock %}
              
        </main>
    </body>
</html>