{% extends "base.html" %}

{% block style %}

{% endblock %}


{% block content %}
<div class="cadre">
    <img src="{{ jeu.getImage }}" class="imageCadre">
    <div class="infoCadre">
        <ul class="infojeu">
            <li class="Nom">{{ jeu.getNom }}</li>
            <li class="Date" >Date de sortie :{{ jeu.getDate }}</li>
            <li class="Genre">Genre :{{ jeu.getGenre }}</li>
            <li> <p class="Desc">Description :</p> {{ jeu.getDesc }} ... </li>
        </ul>
    
    </div>

</div>
{% endblock %}