{% extends "base.html" %}

{% block style %}

{% endblock %}


{% block content %}
<div class="listeVignette">
{% for jeu in listjeu %}
<a class="vignette"href="/detail/{{ jeu.getId }}">
<div>
    <img src="{{ jeu.getImage }}" class="vignetteImage">
    <div class="vignetteDesc">
        <ul class="listeinfo">
            <li>Nom :{{ jeu.getNom }}</li>
            <li>Studio :{{ jeu.getStudio }}</li>
            <li>Genre :{{ jeu.getGenre }}</li>
        </ul>
    
</div>
</div>
</a>

{% endfor %}
</div>
{% endblock %}