body{
    background-color: black;
}

.listeVignette{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding: 2%
}
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

a:focus{
    text-decoration: none;
    color: white;
}

a:active{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: white;
}



.vignetteImage{
    box-shadow: 0px 0px 1px 1px black;
    border-radius: 10px;
    max-width: 100%;
}

.vignette>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center
}

.vignette{
    padding: 1%
}
.listeinfo{
    padding: 0;
}




/* Affichege du jeu */

.cadre{
    display: flex
}

.imageCadre{
    width: 25%;
    height: 100%;
}

.infoCadre{
    width: 75%;
    padding: 2%;
    color: white
}

.Nom{
    font-size: 200%;
}

.Date{
    font-size: 150%;
}

.Genre{
    font-size: 150%;
}

.Desc{
    font-size: 150%;
}

.navbar{
    box-shadow: 0px 0px 9px 7px #1e2124;
    background-color: #1e2124 !important
}